.whatsapp-float-button-container {
  position: relative;
}

.whatsapp-float-button {
  direction: rtl;
  text-align: right;
}

.whatsapp-text {
  direction: rtl;
  text-align: right;
  display: none;
}

.whatsapp-float-button-container:hover .whatsapp-text {
  display: block;
}